admin-page {
    height: auto;
}

.admin-page .my-control {
    width: 13px;

}

.admin-page .my-control label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 7px;
}

.admin-page .my-control input {
    width: 230px
}

admin-page .alert {
    transition: all ease 0.4s;
}

.admin-page .hide {
    display: none;
}